n8n/auditor-workflow.json
{
  "name": "Claude Autopilot — Auditor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 4
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// CONFIGURATION — Fill in all values below for your project\n// ============================================================\n\nconst config = {\n  // ----- Linear API -----\n  // Your Linear API key (create at https://linear.app/settings/api)\n  // Format: \"lin_api_...\"\n  linearApiKey: \"lin_api_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\",\n\n  // ----- Linear IDs -----\n  // Your Linear team UUID (see setup.md for how to find this)\n  teamId: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // The UUID of your \"Ready\" (or \"Todo\") workflow state\n  // The auditor checks this count to decide whether to run\n  readyStateId: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // ----- Project -----\n  // Absolute path to the target project on the n8n host machine\n  projectPath: \"/home/user/my-project\",\n\n  // Absolute path to the claude-autopilot directory\n  autopilotPath: \"/home/user/claude-autopilot\",\n\n  // ----- Auditor Settings -----\n  // Minimum number of Ready issues before audit is skipped\n  // If Ready count is >= this value, the auditor will NOT run\n  // (backlog is considered sufficient)\n  minReadyThreshold: 5,\n\n  // Timeout in seconds for the auditor Claude Code run\n  // 60 minutes = 3600 seconds\n  timeoutSeconds: 3600,\n};\n\nreturn [{ json: config }];"
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.linearApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query CountReady($teamId: String!, $stateId: String!) { issues( filter: { team: { id: { eq: $teamId } } state: { id: { eq: $stateId } } } first: 250 ) { nodes { id } } }\",\n  \"variables\": {\n    \"teamId\": \"{{ $json.teamId }}\",\n    \"stateId\": \"{{ $json.readyStateId }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "count-ready-issues",
      "name": "Count Ready Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Get config from Set Config node\nconst config = $('Set Config').first().json;\n\n// Get the count of ready issues from the Linear response\nconst responseData = $input.first().json;\nconst readyIssues = responseData?.data?.issues?.nodes ?? [];\nconst readyCount = readyIssues.length;\n\nconst threshold = config.minReadyThreshold || 5;\nconst shouldRun = readyCount < threshold;\n\nconsole.log(`[auditor] Ready issues: ${readyCount}, Threshold: ${threshold}, Should run: ${shouldRun}`);\n\nreturn [{\n  json: {\n    readyCount,\n    threshold,\n    shouldRun,\n    _config: config,\n  }\n}];"
      },
      "id": "check-threshold",
      "name": "Check Threshold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "backlog-low",
              "leftValue": "={{ $json.shouldRun }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-backlog-low",
      "name": "Backlog Low?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -euo pipefail\n\nPROJECT_PATH=\"{{ $json._config.projectPath }}\"\nAUTOPILOT_PATH=\"{{ $json._config.autopilotPath }}\"\nTIMEOUT=\"{{ $json._config.timeoutSeconds }}\"\n\necho \"[auditor] Starting audit of ${PROJECT_PATH}\"\necho \"[auditor] Ready issues: {{ $json.readyCount }} (threshold: {{ $json.threshold }})\"\necho \"[auditor] Timeout: ${TIMEOUT}s\"\n\n# Run the auditor via bun\ncd \"${AUTOPILOT_PATH}\"\ntimeout \"${TIMEOUT}\" bun run auditor \"${PROJECT_PATH}\" 2>&1 || EXIT_CODE=$?\n\nEXIT_CODE=${EXIT_CODE:-0}\n\nif [ \"$EXIT_CODE\" -eq 124 ]; then\n  echo \"[auditor] TIMEOUT after ${TIMEOUT}s\"\n  echo \"[auditor] Partial results may have been filed to Linear\"\nelif [ \"$EXIT_CODE\" -ne 0 ]; then\n  echo \"[auditor] FAILED with exit code ${EXIT_CODE}\"\nelse\n  echo \"[auditor] SUCCESS\"\nfi\n\nexit $EXIT_CODE",
        "options": {
          "timeout": "={{ $json._config.timeoutSeconds * 1000 + 30000 }}"
        }
      },
      "id": "execute-auditor",
      "name": "Auditor",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1160, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Summarize auditor results\nconst item = $input.first().json;\nconst exitCode = item.exitCode ?? -1;\nconst stdout = item.stdout ?? '';\n\nlet status = 'unknown';\nif (exitCode === 0) {\n  status = 'success';\n} else if (exitCode === 124) {\n  status = 'timeout';\n} else {\n  status = 'failed';\n}\n\n// Try to count how many issues were filed by scanning output\nconst issueMatches = stdout.match(/Created issue/gi) || [];\nconst issueCount = issueMatches.length;\n\nconst summary = {\n  status,\n  exitCode,\n  issuesFiled: issueCount,\n  readyCountBefore: $('Check Threshold').first().json.readyCount,\n  timestamp: new Date().toISOString(),\n};\n\nconsole.log(`[auditor-summary] Status: ${status}, Issues filed: ${issueCount}`);\n\nreturn [{ json: summary }];"
      },
      "id": "summarize",
      "name": "Summarize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, -100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Backlog is sufficient — skip the audit\nconst data = $input.first().json;\n\nconsole.log(`[auditor] Skipping audit: Ready backlog is sufficient (${data.readyCount} >= ${data.threshold})`);\n\nreturn [{\n  json: {\n    status: 'skipped',\n    reason: `Ready backlog sufficient: ${data.readyCount} issues >= threshold of ${data.threshold}`,\n    readyCount: data.readyCount,\n    threshold: data.threshold,\n    timestamp: new Date().toISOString(),\n  }\n}];"
      },
      "id": "skip-log",
      "name": "Skip",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 100]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Count Ready Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count Ready Issues": {
      "main": [
        [
          {
            "node": "Check Threshold",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Threshold": {
      "main": [
        [
          {
            "node": "Backlog Low?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Backlog Low?": {
      "main": [
        [
          {
            "node": "Auditor",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auditor": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "claude-autopilot"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}