n8n/executor-workflow.json
{
  "name": "Claude Autopilot — Executor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ============================================================\n// CONFIGURATION — Fill in all values below for your project\n// ============================================================\n\nconst config = {\n  // ----- Linear API -----\n  // Your Linear API key (create at https://linear.app/settings/api)\n  // Format: \"lin_api_...\"\n  linearApiKey: \"lin_api_XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\",\n\n  // ----- Linear IDs -----\n  // Your Linear team UUID (see setup.md for how to find this)\n  teamId: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // The UUID of your \"Ready\" (or \"Todo\") workflow state\n  // This is the state that issues must be in to be picked up\n  readyStateId: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // The UUID of your \"Blocked\" workflow state\n  // Issues that fail or time out will be moved here\n  blockedStateId: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // The UUID of your \"Done\" workflow state\n  doneStateId: \"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\",\n\n  // ----- Project -----\n  // Absolute path to the target project on the n8n host machine\n  projectPath: \"/home/user/my-project\",\n\n  // Human-readable project name (used in prompts)\n  projectName: \"my-project\",\n\n  // Tech stack description (used in prompts)\n  techStack: \"TypeScript, Next.js, Prisma, PostgreSQL\",\n\n  // Test command to run during validation\n  testCommand: \"npm test\",\n\n  // Lint command to run during validation\n  lintCommand: \"npm run lint\",\n\n  // ----- Executor Settings -----\n  // Maximum number of issues to execute per run (fan-out parallelism)\n  maxParallel: 3,\n\n  // Timeout in seconds for each Claude Code invocation\n  // 30 minutes = 1800 seconds\n  timeoutSeconds: 1800,\n\n  // Absolute path to the claude-autopilot directory\n  autopilotPath: \"/home/user/claude-autopilot\",\n};\n\nreturn [{ json: config }];"
      },
      "id": "set-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linear.app/graphql",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json.linearApiKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query ReadyIssues($teamId: String!, $stateId: String!) { issues( filter: { team: { id: { eq: $teamId } } state: { id: { eq: $stateId } } } orderBy: priority first: 10 ) { nodes { id identifier title description priority labels { nodes { name } } relations { nodes { type relatedIssue { id identifier state { name type } } } } } } }\",\n  \"variables\": {\n    \"teamId\": \"{{ $json.teamId }}\",\n    \"stateId\": \"{{ $json.readyStateId }}\"\n  }\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "query-linear",
      "name": "Query Linear",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Retrieve config from the Set Config node\nconst config = $('Set Config').first().json;\n\n// Get raw issues from Linear GraphQL response\nconst responseData = $input.first().json;\nconst issues = responseData?.data?.issues?.nodes ?? [];\n\nif (issues.length === 0) {\n  return [];\n}\n\n// Filter to only unblocked issues:\n// An issue is \"blocked\" if it has a relation of type \"blocks\" where the\n// related issue's state type is NOT \"completed\" or \"canceled\".\nconst unblockedIssues = issues.filter(issue => {\n  const relations = issue.relations?.nodes ?? [];\n  for (const rel of relations) {\n    // \"blocks\" type means: the related issue blocks THIS issue\n    // We check if any blocking relation points to an incomplete issue\n    if (rel.type === 'blocks') {\n      const relatedState = rel.relatedIssue?.state;\n      if (relatedState && relatedState.type !== 'completed' && relatedState.type !== 'canceled') {\n        return false; // This issue is blocked\n      }\n    }\n  }\n  return true; // No incomplete blocking relations\n});\n\n// Take top N by priority (already sorted by Linear)\nconst maxParallel = config.maxParallel || 3;\nconst selected = unblockedIssues.slice(0, maxParallel);\n\n// Return each issue as a separate item for fan-out execution\nreturn selected.map(issue => ({\n  json: {\n    ...issue,\n    // Pass config through so downstream nodes can use it\n    _config: config,\n  }\n}));"
      },
      "id": "filter-unblocked",
      "name": "Filter Unblocked",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-issues",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-issues",
      "name": "Has Issues?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "command": "=#!/bin/bash\nset -euo pipefail\n\n# --- Configuration from upstream nodes ---\nIDENTIFIER=\"{{ $json.identifier }}\"\nISSUE_ID=\"{{ $json.identifier }}\"\nTITLE=\"{{ $json.title }}\"\nPROJECT_PATH=\"{{ $json._config.projectPath }}\"\nAUTOPILOT_PATH=\"{{ $json._config.autopilotPath }}\"\nPROJECT_NAME=\"{{ $json._config.projectName }}\"\nTECH_STACK=\"{{ $json._config.techStack }}\"\nTEST_COMMAND=\"{{ $json._config.testCommand }}\"\nLINT_COMMAND=\"{{ $json._config.lintCommand }}\"\nDONE_STATE=\"Done\"\nBLOCKED_STATE=\"Blocked\"\nTIMEOUT=\"{{ $json._config.timeoutSeconds }}\"\n\n# --- Read the executor prompt template and substitute variables ---\nPROMPT_TEMPLATE=$(cat \"${AUTOPILOT_PATH}/prompts/executor.md\")\n\n# Perform variable substitution\nPROMPT=$(echo \"$PROMPT_TEMPLATE\" | \\\n  sed \"s|{{ISSUE_ID}}|${ISSUE_ID}|g\" | \\\n  sed \"s|{{PROJECT_NAME}}|${PROJECT_NAME}|g\" | \\\n  sed \"s|{{TECH_STACK}}|${TECH_STACK}|g\" | \\\n  sed \"s|{{TEST_COMMAND}}|${TEST_COMMAND}|g\" | \\\n  sed \"s|{{LINT_COMMAND}}|${LINT_COMMAND}|g\" | \\\n  sed \"s|{{DONE_STATE}}|${DONE_STATE}|g\" | \\\n  sed \"s|{{BLOCKED_STATE}}|${BLOCKED_STATE}|g\")\n\necho \"[executor] Starting: ${IDENTIFIER} — ${TITLE}\"\necho \"[executor] Worktree: autopilot/${IDENTIFIER}\"\necho \"[executor] Timeout: ${TIMEOUT}s\"\n\n# --- Run Claude Code ---\ncd \"${PROJECT_PATH}\"\ntimeout \"${TIMEOUT}\" claude \\\n  --worktree \"autopilot/${IDENTIFIER}\" \\\n  -p \"${PROMPT}\" \\\n  --print \\\n  2>&1 || EXIT_CODE=$?\n\nEXIT_CODE=${EXIT_CODE:-0}\n\nif [ \"$EXIT_CODE\" -eq 124 ]; then\n  echo \"[executor] TIMEOUT after ${TIMEOUT}s\"\nelif [ \"$EXIT_CODE\" -ne 0 ]; then\n  echo \"[executor] FAILED with exit code ${EXIT_CODE}\"\nelse\n  echo \"[executor] SUCCESS\"\nfi\n\nexit $EXIT_CODE",
        "options": {
          "timeout": "={{ $json._config.timeoutSeconds * 1000 + 30000 }}"
        }
      },
      "id": "execute-claude",
      "name": "Claude Code",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1160, -100],
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Collect results from all Claude Code executions\nconst items = $input.all();\n\nlet successCount = 0;\nlet failCount = 0;\nlet timeoutCount = 0;\nconst results = [];\n\nfor (const item of items) {\n  const stdout = item.json.stdout ?? '';\n  const exitCode = item.json.exitCode ?? -1;\n  const identifier = item.json.identifier ?? 'unknown';\n  const title = item.json.title ?? '';\n\n  let status = 'unknown';\n  if (exitCode === 0) {\n    status = 'success';\n    successCount++;\n  } else if (exitCode === 124) {\n    status = 'timeout';\n    timeoutCount++;\n  } else {\n    status = 'failed';\n    failCount++;\n  }\n\n  results.push({\n    identifier,\n    title,\n    status,\n    exitCode,\n  });\n}\n\nconst summary = {\n  totalProcessed: items.length,\n  success: successCount,\n  failed: failCount,\n  timeout: timeoutCount,\n  results,\n  timestamp: new Date().toISOString(),\n};\n\nconsole.log(`[executor-summary] Processed: ${items.length}, Success: ${successCount}, Failed: ${failCount}, Timeout: ${timeoutCount}`);\n\nreturn [{ json: summary }];"
      },
      "id": "summarize-results",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, -100]
    },
    {
      "parameters": {},
      "id": "no-issues-skip",
      "name": "No Issues Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1160, 100]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Query Linear",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Linear": {
      "main": [
        [
          {
            "node": "Filter Unblocked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Unblocked": {
      "main": [
        [
          {
            "node": "Has Issues?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Issues?": {
      "main": [
        [
          {
            "node": "Claude Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Issues Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Code": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "claude-autopilot"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}